/* Adjusting padding for better spacing */
body {
    padding-top: 50px;
}
h1{
    text-align: center;
}

/* Centering the form and adjusting its width */
.Workout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 60%;
}

/* Adjusting input and button styles */
form {
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

form input,
form button {
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.workout-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.menu-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Color variations for different buttons */
.button1 {
    background-color: #007bff;
    color: white;
}

.button2 {
    background-color: #28a745;
    color: white;
}

.button3 {
    background-color: #ffc107;
    color: black;
}

.button4 {
    background-color: #dc3545;
    color: white;
}

/* Hover effect on buttons */
.menu-buttons button:hover {
    opacity: 0.8;
}