<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div>
        <h1>About "APP_NAME"</h1>
    </div>
    <div>
        <p>"APP_NAME" is about loggin your workouts to keep better track of what lifts you have done</p>
        <p>and how much weight you used during that lift so that you can progressively load as the weeks</p>
        <p>and months go on.</p>
    </div>
    
</body>
</html>