<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Chest">Chest</option>
        <option value="Arms">Arms</option>
        <option value="Back">Back</option>
        <option value="Legs">Legs</option>
      </select>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
</body>
</html>