<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupid Simple Workout Logger</title>
</head>
<body>
    <form action="">
      <div class="selector">
        <select class="form-id" for="Muscle Groups" aria-label="Default select example" required>
          <option value="1">Chest</option>
          <option value="2">Back</option>
          <option value="3">Arms</option>
          <option value="4">Legs</option>
        </select>
      </div>

      <br>

      <div class="selector">
        <select class="form-id" for="Exercises" aria-label="Default select example" required>
          <option value="1">Chest</option>
          <option value="2">Back</option>
          <option value="3">Arms</option>
          <option value="4">Legs</option>
        </select>
      </div>

      <br>

      <div>
        <label for="Sets">Sets</label>
        <input type="number" id="Sets" name="Sets" min="0" max="99"  required>
      </div>

      <br>

      <div>
        <label for="Reps">Reps</label>
        <input type="number" id="Reps" name="Reps" min="0" max="99"  required>
      </div>

      <br>

      <div>
        <input type="submit">
      </div>
    </form>
</body>
</html>