<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Homepage</title>
</head>
<body>
    <div>
        <h1>Welcome to "Name of page"</h1>
    </div> 
</body>

<body>
    <div style="width:50%"> 
        <h2>About us</h2>
        <p>Welcome to our webiste! We are glad that you chose to take time out of your day to use our 
            website. Our goal here at "Name of webiste" is to help people keep track of their workouts. We
            know it is important to workout and to keep track of what you do at the gym. It helps to keep 
            you to keep on pace for your goal. 
        </p>
    </div>
</body>
</html>