<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/workout_form.css">
    <title>Stupid simple Workout Logger</title>
</head>
<body>
    <div class="Wourkout form">
        <form method="POST" action="/saved_workout">
            
            <input type="date" id="workout_date" name="workout_date" required>
            <input type="text" name="muscle_group" placeholder="Muscle Group" >
            <input type="text" name="exercise" placeholder="Exercise">
            <input type="number" name="sets" placeholder="Sets" min=0 max=99 >
            <input type="number" name="reps" placeholder="Reps" min=0 max=99 >
            <button type="submit">save</button>
        </form>
    </div>
</body>
</html>